:root{
    --Gray:#F4F4F4;
    --tittle-gray:#696969;
    --blue:#5B7288;
    --soft-gray:#969696;
    --dark-blue:#1B344C;
    --card-gray: #f7f7f7;
    --label-gray:#5b5b5b;
    --turquoise:#36A792;
}

html{
    height :100%;
}

main{
    height: 94.4%;
    display: flex;
}

body{
    background-color:var(--Gray); 
    height: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.navbar-top{
    width: 100%;
    height: 37px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
}

.nav-group-logo{
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
}

.navbar-top span{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: var(--tittle-gray);
    margin: 0% 2% 0% 2%;
}

.search-bar{
    width: 138px;
    height: 27.42px;
    background: #FFFFFF;
    border: 2px solid #AFAFAF;
    box-sizing: border-box;
    outline: none;
}

.search-bar::placeholder{
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    color:var(--tittle-gray);
    border-left: 100px;
    padding-left:10% 
}

.btn-salir{
    width: 67px;
    height: 25px;
    color: white;
    background: #5B7288;
    border-radius: 2px;
    margin: 0 0 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    border:none;
    cursor: pointer;
}

.navbar-tools{
    display: flex;
    margin-left: auto;
    margin-right: 1%;
}

.navbar-top ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 25px;
    align-self: center;
    margin-left: auto;
    font-weight: bold;

  }

li {
    margin-left: 20px;
    align-self: center;
  }

aside{
    position: relative;
    height:100% ;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.dashboard{
    top: 6%;
    position: relative;
    background-color: white;
    width: 84%;
    height: 78%;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-img{
    background-color:white;
    border-radius: 100%; 
    height: 100px;
    width: 100px;
    border: var(--Gray) 5px solid;
    position: absolute;
    top:-78px;
    left: 0;
    right: 0;
    margin:0 auto;
    display: flex;
    justify-content: center;
}

.principal-content{
    width: 100%;
    display: flex;
    align-items: center;
}

.elements{
    width:99%;
    height: 90%;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.user-name{
    color: var(--tittle-gray);
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-bottom: auto;
    margin-top: 26px;
}

.user-info{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--soft-gray);
    font-size: 14px;
    line-height: 20px;
}

.dashboard-options{
    width: 100%;
}

.dashboard ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.dashboard li{
    margin: 5px 20px 5px 20px;
    font-size:9px;
    text-align: center;
    font-weight: bold;
    color:#7C7C7C;
    line-height: 88.19%;
    display: flex;
    flex-direction: column;
    max-width: 67px;
}

.selected{
    color:var(--turquoise)!important  ;
}

.tittle-icon{
    margin-top:10%; 
}

[class^="icon-"], [class*=" icon-"]{
    font-size: 40px;
}

.dashboard hr{
    height: 2px;
    background-color: #ededed;
    width: 78%;
    border: none;
}

.progress{
    width: 100%;
    height: 20%;
    border-bottom: var(--dark-blue) 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress div{
    background-color: var(--dark-blue) ;
    width: 22%;
    height: 1.3%;
    margin: 0 -3.6% 18px -3.2%;
    z-index: 2;    
}

.progress img{
    z-index: 1;
}

.element-header{
    width: 96%;
    display: flex;
    padding: 1%;
    align-items: center;
}

h2{
    font-size: 20px;
    color: var(--tittle-gray);
    margin: 1% 0 0 0 ;
}

.element-management{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card{
    width: 97%;
    height: 15%;
    background-color: var(--card-gray);
    border-radius: 5px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.19));
    margin:1%;
}

.card form{
    width: 100%;
    height: 100%;
    display: flex;
}

.card-group{
    margin :2px;
    border-right: #c4c4c4 2px solid;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1% 0 1%;
    color: #848484;
    line-height: 17px;
}

.card-group b{
    color: #5b5b5b;
}

.card-group ul{
    font-size: 11px;
    padding: 0;
}

label{
    font-size: 13px;
    display: block;
    font-weight: bold;
    margin-bottom: 5%;
    color: var(--label-gray);
}

.card-group-observations{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

textarea{
    margin: 2%;
    max-height: 60%;
    max-width: 50%;
}

#file{
    color: transparent;
    background-image:url("../imagenes/File.svg") ;
}

.file-img{
    margin:1%;
}

.file-img > input{
    display: none;
}

.file-img img{
    cursor: pointer;
}

input[type="date"], select, textarea{
    color: #848484;
    border: #848484 2px solid;
}

select{
    height: 21px;
    width: 100%
}

input[type="date"]{
    height: 18px;
    width: 85%;
    font-size: 10px;
}

.btn-primary{
    background-color: var(--turquoise);
    width: 107.58px;
    height: 25.71px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: auto;
    }

.btn-agg{
    background-image: url("../imagenes/Plus.svg");
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    cursor: pointer;
    width: 25px;
    padding: 0;
    height: 23px;
    margin-left: auto;
}

.tooltip {
    width: 168px;
    height: 30px;
    background: #282828;
    border-radius: 2px;
    right: 4.5%;
    top: 26%;
    position: absolute;
    visibility: hidden;
    color: #fff;
    text-align: center;
    z-index: 1;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-agg .tooltip::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-top:5px solid #282828 ;
    border-left: 5px solid  transparent ;
    border-right:5px solid #282828  ;
    border-bottom: 5px solid  transparent ;
    top: 95%;
    right: 0%;
  }
  
  
  .btn-agg:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .icon-AccidentesLaborales .path1:before {
    content: "\e900";
    color: red;
  }

  .icon-DatosTrabajador:hover{
      color: green;
  }

  .dashboard li:hover span::before,.dashboard li:hover span{
    color:var(--turquoise) !important;
    cursor: pointer;
}